<div class="x_panel tile autoheight padding-bottom100" id="activevisit" ng-controller="app.views.visit.activevisit as vm">
    <div class="x_title">
        <h2>
            Active Visit
        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="table-responsive">
            <div class="col-sm-8 col-xs-8 col-md-8">
                <input ng-model="vm.searchQuery" placeholder="Global search" class="input-sm form-control" type="search" />
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2">
                <button type="button" ng-click="vm.searchQuery = ''" class="btn btn-sm btn-primary">
                    <i class="fa fa-eraser margin-right5"></i>Clear Filter
                </button>
            </div>
            <div class="col-sm-2 col-xs-2 col-md-2">
                <div class="checkbox">
                    <label><input type="checkbox" ng-model="vm.filterByloggedInUser" ng-change="vm.updateActiveVisit()" ng-checked="vm.filterByloggedInUser">Only My Paitent</label>
                </div>
            </div>
            <form form-validation name="activeVisitform" role="form" novalidate>
                <table class="table table-hover table-striped" st-table="displayedCollection" st-safe-src="vm.activevisit"
                       sttablefilter="vm.searchQuery">
                    <thead class="thead-inverse abp-clickable">
                        <tr>
                            <th>@L("Action")</th>
                            <th st-sort="pid">@L("PatientIdentifier")</th>
                            <th st-sort="fname">@L("Name")</th>
                            <th st-sort="visitCodeId">@L("VisitCodeId")</th>
                            <th st-sort="visitStatusCodeId">@L("VisitStatus")</th>
                            <th st-sort="reason">@L("ReasonForVisit")</th>
                            <th st-sort="doctor.userName">@L("AssignedDoctor")</th>
                            <th st-sort="doctor.userName">@L("AssignedNurse")</th>
                            <th st-sort="doctor.updateDate">@L("UpdatedDate")</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patientVisit in (displayedCollection)" class="abp-clickable">
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-primary dropdown-toggle"
                                            type="button" data-toggle="dropdown">
                                        <span class="fa fa-cog"></span>
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                        <li class="" role="menuitem">
                                            <a ng-click="vm.resumeWorkflow(patientVisit)">
                                                <h6>
                                                    Visit WorkFlow
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="" role="menuitem">
                                            <a ng-click="vm.showDetail(patientVisit)">
                                                <h6>
                                                    View
                                                </h6>
                                            </a>
                                        </li>
                                        <li class="" role="menuitem">
                                            <a ng-click="vm.openVisitHistory(patientVisit)">
                                                <h6>
                                                    Visit History
                                                </h6>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td ng-click="vm.showDetail(patientVisit)">{{patientVisit.pid}}</td>
                            <td ng-click="vm.showDetail(patientVisit)">{{patientVisit.fname + " " +  patientVisit.lname}}{{patientVisit.dob| age}}({{patientVisit.gender}})</td>
                            <td>
                                <select required
                                        class="required form-control"
                                        ng-model="patientVisit.visitCodeId"
                                        ng-options="item.visitCodeId as item.visitCodeName for item in vm.visitCodeData"></select>
                            </td>
                            <td>
                                <select required
                                        class="required form-control"
                                        ng-model="patientVisit.visitStatusCodeId"
                                        ng-options="item.visitStatusCodeId as item.visitStatusCodeName for item in vm.visitStatusCodeData"></select>
                            </td>
                            <td style="width:10%">{{patientVisit.reason}}</td>
                            <td>
                                <input ng-model="patientVisit.doctor"
                                       uib-typeahead="item as item.userName + ' (' + item.roleName + ')' for item in vm.allUserData |  filter:{ roleName : 'doctor' } | filter:$viewValue"
                                       typeahead-min-length="0"
                                       typeahead-show-hint="true"
                                       class="form-control"
                                       name="doctor"
                                       autocomplete="off"
                                       required="required"
                                       typeahead-editable="false"
                                       data-validate-length="10">
                            </td>
                            <td>
                                <input ng-model="patientVisit.nurse"
                                       uib-typeahead="item as item.userName + ' (' + item.roleName + ')' for item in vm.allUserData |  filter:{ roleName : 'nurse' } | filter:$viewValue"
                                       typeahead-min-length="0"
                                       typeahead-show-hint="true"
                                       class="form-control"
                                       name="nurse"
                                       autocomplete="off"
                                       required="required"
                                       typeahead-editable="false"
                                       data-validate-length="10">
                            </td>
                            <td>{{patientVisit.updateDate| utctolocal :'MM/DD/YY h:mm:ss a'}}</td>
                            <td>
                                <button type="submit" class="btn btn-sm btn-success" ng-click="vm.save(patientVisit)">Save</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="10" class="text-center">
                                <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages=""></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>