<div id="addsurgery">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("AddSurgery")</span>
        </h4>
    </div>
    <div class="row">
        <div class="modal-body ">
            <form form-validation name="addSurgeryCreateForm" role="form" class="form-horizontal form-label-left" novalidate>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("ICDCodePCSId")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input ng-model="ICDCodePCSId"
                                   uib-typeahead="surgery as  surgery.icdCodePCSName + ' (' + surgery.icdCodePCSId + ')' for surgery in vm.getPCSCodeData($viewValue)"
                                   typeahead-show-hint="true"
                                   typeahead-min-length="3"
                                   typeahead-wait-ms="250"
                                   autocomplete="off"
                                   class="form-control"
                                   name="surgeryICDCodePCSId"
                                   placeholder="@L("ICDCustomPCSCode")"
                                   required="required"
                                   typeahead-loading="loadingLocations"
                                   typeahead-no-results="noResults"
                                   data-validate-length="2">
                            <i ng-show="loadingLocations" class="fa fa-spin fa-spinner"></i>
                            <div ng-show="noResults">
                                <i class="fa fa-plus text-success"></i> <a class="abp-clickable" ng-click="vm.openAddICDCodePCSModal(ICDCodePCSId)">add new custom code</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("PermformedBy")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select class=" form-control"
                                    ng-model="vm.surgery.administeredById"
                                    ng-options="item.id as item.userName + ' (' + item.roleName + ')' for item in vm.administeredByIdCodeData"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("AdministrationSite")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select class="form-control"
                                    ng-model="vm.surgery.administrationSiteId"
                                    ng-options="item.administrationSiteId as item.administrationSiteName for item in vm.administrationSiteData"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("OutcomeCodeName")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select required class="required form-control"
                                    ng-init="vm.surgery.outcomeCodeId = vm.outcomeCodeIdCodeData[0].outcomeCodeId"
                                    ng-model="vm.surgery.outcomeCodeId"
                                    ng-options="item.outcomeCodeId as item.outcomeCodeName for item in vm.outcomeCodeIdCodeData"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("Note")</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="form-control" rows="5" ng-model="vm.surgery.note"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("StatusCodeId")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <select required class="required form-control"
                                    ng-init="vm.surgery.statusCodeId = vm.statusCodeIdCodeData[0].statusCodeId"
                                    ng-model="vm.surgery.statusCodeId"
                                    ng-options="item.statusCodeId as item.statusCodeName for item in vm.statusCodeIdCodeData"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="item form-group">
                        <label class="col-md-12 col-sm-12 col-xs-12">@L("SurgeryDate")*</label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
                                <input required date-range-picker ng-model="vm.surgery.surgeryDate" options="vm.datepickerOption" class="form-control has-feedback-left" name="surgeryDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item form-group" ng-show="vm.validationError.length > 0">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-danger">
                            <div class="panel-heading">Please review the following field</div>
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="message in vm.validationError">
                                        <span class="black">{{message}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer noborder">
        <button type="submit" class="btn btn-default pull-right" ng-click="vm.close()">Cancel</button>
        <button type="submit" class="btn btn-success pull-right" ng-disabled="addSurgeryCreateForm.$invalid" ng-click="vm.saveSurgery('addmore')">Save and add another</button>
        <button type="submit" class="btn btn-success pull-right" ng-disabled="addSurgeryCreateForm.$invalid" ng-click="vm.saveSurgery()">Save</button>
    </div>
</div>
